<div ng-include="'layout/header.html'" />
<div class="add_wrap scroller">
	<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
	<ul class="add_ul">
		<li class="ul_header"><div class="labels"><span>Details</span></div></li>
		<li><div class="labels"><span>First name</span></div><div class="values">{{firstname}}</div></li>
		<li><div class="labels"><span>Last name</span></div><div class="values">{{lastname}}</div></li>
		<li><div class="labels"><span>Title</span></div><div class="values">{{title}}</div></li>
		<li><div class="labels"><span>Company</span></div><div class="values"><a href="#/customerV/{{company_id}}">{{company_name}}</a></div></li>
		<li><div class="labels"><span>Phone</span></div><div class="values"><a href="tel:{{phone}}" target="_blank" >{{phone}} </a></div></li>
		<li class="last_li"><div class="labels "><span>Email</span></div><div class="values"><a href="mailto:{{email}}" target="_blank" >{{email}}</a></div></li>
	</ul>	
	<ul class="add_ul second_add_ul" ng-show="address_id">
		<li class="ul_header"><div class="labels"><span>Address - <a href="#/map/{{contact_id}}" ng-show="address_id">View on Google Maps</a></span></div></li>
		<li><div class="labels"><span></span>Street</div><div class="values">{{address}}</div></li>
		<li><div class="labels"><span>Zip</span></div><div class="values">{{zip}}</div></li>
		<li><div class="labels"><span>City</span></div><div class="values">{{city}}</div></li>
		<li class="last_li"><div class="labels "><span>Country</span></div><div class="values">{{country}}</div></li>
	</ul>	
</div>
<div data-ng-include="'layout/footer.html'" />