<div ng-include="'layout/header.html'" />
<div id="page" class="scroller loadMore"  hm-swipe="handleGesture($event)">
	<div class="loginForm">
		<form>
			<input type="text" ng-model="search" class="account" placeholder="Search..." />
		</form>
	</div>
	<ul>
		<li ng-repeat="project in projects | filter:search | limitTo:limit | orderBy:predicate:false track by $index" class="projects" ng-click="edit(project)">
			<p class="projectName">{{getName(project)}}</p>
		</li>
		<li class="loadingMore" ng-show="loadingMore"><img src="images/ajax-loader.gif" /></li>
	</ul>
	<div class="no_data" ng-hide="no_project" >
		<div class="loginForm">
			<p>No data to display</p>
			<form>
				<input type="submit" class="submit" value="Add new task" ng-click="addNewTask()">
			</form>	
		</div>
	</div>
</div>
<div data-ng-include="'layout/footer.html'" />